<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <title>{% block title %}{% endblock title %} - blog</title>
    {% endblock head %}
</head>

<body>
    <div id="header">
        <a href="/">index</a>
        {% if current_user %}
        <a href="/user/{{ current_user.username }}">{{ current_user.username }}</a>
        <a href="/logout">logout</a>
        {% else %}
        <a href="/login">login</a>
        {% endif %}
    </div>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        <p>Power for <a href="https://github.com/tokio-rs/axum" target="_blank" rel="noopener noreferrer">Rust and
                axum</a>
        </p>
        {% endblock footer %}
    </div>
</body>

</html>